{% extends "base.html" %} 
{% block title %}changed{% endblock %}

{% block content %}
    <h1 align="center">Tips</h1>
    <p>Enter your tip below</p>
    <form method="POST">
        <div class="form-group">
            <label for="tip">Tip</label>
            <input type="number" class="form-control" id="tip" name="tip" step=".01" min="0" max="9999" placeholder="Enter tip" required>
        </div>
        <div class="form-group>
            <label for="Date">Date</label>
            <input type="date" class="form-control" id="date" name="date" placeholder="Enter date in MM/DD/YY" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </br>
    </br>
    
    <div class="container">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link active" id="nav-day-tab" data-bs-toggle="tab" 
                data-bs-target="#nav-day" type="button" role="tab" aria-controls="nav-day" 
                aria-selected="true">Day</button>

                <button class="nav-link" id="nav-week-tab" data-bs-toggle="tab" 
                data-bs-target="#nav-week" type="button" role="tab" aria-controls="nav-week" 
                aria-selected="false">Week</button>
            
                <button class="nav-link" id="nav-month-tab" data-bs-toggle="tab" 
                data-bs-target="#nav-month" type="button" role="tab" aria-controls="nav-month" 
                aria-selected="false">Month</button>

                <button class="nav-link" id="nav-year-tab" data-bs-toggle="tab" 
                data-bs-target="#nav-year" type="button" role="tab" aria-controls="nav-year" 
                aria-selected="false">Year</button>
            </div>
        </nav>  
    </div>
    
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-day" role="tabpanel" aria-labelledby="nav-day-tab">
            <div id="dayForm">
                <label for="dayInput">Enter Day:</label>
                <input type="Date" id="dayInput" class="form-control mb-3">
                <button id="submitDay" class="btn btn-primary">Submit</button>
            </div>
        </div>
        
        <div class="tab-pane fade show" id="nav-week" role="tabpanel" aria-labelledby="nav-week-tab">
            <div id="dayForm">
                <label for="dayInput">Enter Day:</label>
                <input type="Date" id="dayInput" class="form-control mb-3">
                <button id="submitDay" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
        <div class="form-group">
            <label for="tip">Tip</label>
            {% if tips %}
                <ul>
                    {% for tip in tips %}
                        <li>{{ tip }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No tips yet</p>
            {% endif %}
        </div>
    </form>
{% endblock %}