{% extends "base.html" %} 
{% block title %}changed{% endblock %}

{% block content %}
    <h1 align="center">Tips</h1>
    <p>Enter your tip below</p>
    <form method="POST">
        <div class="form-group">
            <label for="tip">Tip</label>
            <input type="text" class="form-control" id="tip" name="tip" placeholder="Enter tip">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <div class="form-group">
            <label for="tip">Tip</label>
            {% if tips %}
                <ul>
                    {% for tip in tips %}
                        <li>{{ tip }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No tips yet</p>
            {% endif %}
        </div>
    </form>
{% endblock %}